
img {
    border-radius: 100px;
    float: left;
  }
  .main{
background: linear-gradient(to right, #f2f0f0,#92b9de);
  }
  .profile{
    font-weight: bold;
  }
  .linkedin {
    align-items: center;
    font-weight: bold;
    display: inline-block;
    padding: 8px 15px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    
  }
  .linkedin:hover{
    background-color: #0056b3;
  }
  em{
    font-style: normal;
    color: rgb(1, 10, 17);
  }
  .header{

  }
  .header-container{
    background-color: wheat;
  }
  .mail{

}
.header-container-content{

}


.card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {

    color: black;
  
    text-align: center;
}

.card-body {
    padding: 5px;
}

.card-body video {
    width: 100%;
    border-radius: 5px;
}

.card-footer {
    
    background-color: white;
    text-align: center;
  
   
}
.card-header h2 {
    margin: 0;
    padding: 5px; /* Reduced padding */
    font-size: 20px; /* Reduced font size */
}
