
img {
    border-radius: 100px;
    float: left;
  }
  .main{
background: linear-gradient(to right, #f2f0f0,#92b9de);
  }
  .profile{
    font-weight: bold;
  }
  .linkedin {
 
    
  }
  .linkedin:hover{
    background-color: #0056b3;
  }
  em{
    font-style: normal;
    color: rgb(1, 10, 17);
  }
  
  .header-container{
    background-color: wheat;
  }
  .mail{
margin-top: 5px;
}
.header-container-content{
  margin-left: 8px;
  float: left;
}


.card {
    width: 330px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {

    color: black;
  
    text-align: center;
}

.card-body {
    padding: 5px;
}

.card-body video {
    width: 100%;
    border-radius: 5px;
}

.card-footer {
    
    background-color: white;
    text-align: center;
  
   
}
.card-header h2 {
    margin: 0;
    padding: 5px; /* Reduced padding */
    font-size: 20px; /* Reduced font size */
}


body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f2f0f0, #92b9de);
  margin: 0;
  padding: 0;
  
  flex-direction: column;
  align-items: center;
  color: #333;
}
header {
  background-color: #3f51b5;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
  margin: 0;
  
}
header p {
  margin: 5px 0 0;
  font-size: 1.2em;
}
.profile-image {
  margin-top: -75px;
  text-align: center;
}
.profile-image img {
  margin-left: 80px;
margin-top: 86px;
  border-radius: 100px;
  width: 150px;
  height: 165px;
  border: 5px solid white;
}
.content {
  margin-left: 30px;
}
.profile {
 padding-top: 80px;
 padding-right: 5px;
  font-weight: bold;
  font-size: 1.2em;
  color: #195594;
}
.linkedin, .email, .phone, .github{
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  font-size: 1em;
margin-left: 10px;
  color: white;
  background-color: #1462b7;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.linkedin:hover, .email:hover, .phone:hover, .github:hover {
  background-color: #0056b3;
}
.section {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}
.section h2 {
  margin-top: 0;
  color: #0056b3;
}
.project video {
  width: 100%;
  border-radius: 5px;
}
.project-description {
  background-color: white;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.skills ul, .experience ul {
  list-style-type: none;
  padding: 0;
}
.skills li, .experience li {
  margin-bottom: 10px;
}
.skills ul {
  columns: 2;
  column-gap: 20px;
}
.experience ul {
  margin-left: 20px;
}
.experience li::marker {
  color: #3f51b5;
}
.education ul {
  list-style-type: none;
  padding: 0;
}
.education li {
  margin-bottom: 10px;
}
